.forgotpass-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #108480;
    padding: 20px;
  }

  .forgotpass-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    text-align: center; 
  }
  
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
  }

  .forgotpass-form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
  }
  
  .forgotpass-form input {
    width: 90%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #000000;
  }

  .social-buttons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    align-items: center;
  }
  
  .social-buttons button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    padding: 10px;
    border: none;
    border-radius: 50px;
    color: white;
    cursor: pointer;
  }


  .signup-button {
    width: 50%;
    padding: 10px;
    background-color: #ff007f;
    border: none;
    cursor: pointer;
    color: white;
    border-radius: 50px;
    font-size: 1em;
    font-weight: 600;
  }